@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: #f5f9fa;
}

.Header {
  height: 100px;
  width: 100%;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.burger-image {
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 10px;
}

.paw-image {
  height: 70px;
  width: 70px;
  float: right;
  margin-left: 10px;
}
/* home Page */
.title {
  font-family: "PT Sans", sans-serif;
  color: #010080;
}
.sub-title {
  font-family: "PT Sans", sans-serif;
  color: #010080;
  margin-top: -20px;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divider {
  width: 80%;
  height: 5px;
  background-color: #008080;
  border-radius: 5px;
}
.dog-photo {
  height: 500px;
  width: 300px;
}

.box {
  height: 460px;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.facts-title {
  font-family: "PT Sans", sans-serif;
  color: #010080;
  font-size: 30px;
}

.facts-list {
  font-family: "PT Sans", sans-serif;
  color: #010080;
  font-size: 20px;
  margin: 5px;
}

.award-icon {
  height: 80px;
  width: 60px;
  margin-top: 20px;
}


.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 60px;
  background: rgb(240, 218, 9);
  background: linear-gradient(
    90deg,
    rgba(240, 218, 9, 1) 0%,
    rgba(232, 124, 15, 1) 45%
  );

  border-radius: 5px;
  position: relative;
  top: -250px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.start-button:hover {
  cursor: pointer;
  width: 233px;
  height: 63px;
}
.button-title {
  font-family: "PT Sans", sans-serif;
  color: #010080;
  font-size: 20px;
}

/* Navigation */
.nav {
  font-size: 19px;
  position: fixed;
  z-index: 1000;
  background: #010080;
  height: 15vh;
  width: 50%;
  border-radius: 0px;
  text-align: center;
  padding: 20px;
  margin: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}
.nav.reveal {
  animation-name: slidein;
}
@keyframes slidein {
  to {
    margin-right: 0;
  }
}
.nav.hide {
  animation-name: slideout;
}
@keyframes slideout {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -100vw;
  }
}
.nav .item {
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: white;
  margin-top: 8px;
}

.nav .close {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 25px;
  height: 40px;
  width: 40px;
  margin-right: 180px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* About Page */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  color: #010080;
}
.about-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-paragraph p {
  width: 90%;
  text-align: justify;
  margin-left: 2px;
}

.paw-no-title-picture {
  height: 70px;
  width: 70px;
}

.dogquote {
  margin-left: 100px;
  font-size: 15px;
}
.man-dog-photo {
  width: 95%;
  height: 450px;
  margin-top: 50px;
  border: 1px solid #010080;
}

/* Services */

.services{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}

/*Footer */

.footer {
  width: 100%;
  position: relative;
  height: 100px;
  bottom: 0px;
  left: 0;
  top: 525px;
  background-color: #010080;
}

.icons {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  margin-top: -10px;
}

.link-list {
  list-style-type: none;
  margin: 10px;
  margin-top: 20px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.list-block {
  height: 500px;
  width: 100%;
  background-color: #008080;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

